.jumbotron{
	background: #7F00FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}

.text-nav{
	color: rgb(218, 194, 241) !important;
}

#result, #result2, #result3{
	padding: 0.7em;
}

.jumbotron h2{
	color: white;
}

#exercises{
	background-color: #f2f2f2;
}

.jumbotron{
	margin:0;
}

.btn{
	background-color: #7F00FF;
	border: #7F00FF;
	color: white;
}
.btn:hover{
	background-color: rgb(140, 44, 236);
	color:white;
	border:#7F00FF;
}

.card-body{
	min-height:13em;
}



